<!DOCTYPE html>
<html>
<head>
    <title>Progi</title>
</head>
<body>
    <h1>Загрузите файл</h1>
    
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">Выберите файл:</label>
        <input type="file" name="file" id="file" required><br>
        
        <hr>
        <!-- <label for="description">Описание файла:</label><br>
        <textarea name="description" id="description" rows="4" cols="50" required></textarea><br> -->
        
        <input type="submit" value="Загрузить файл">
    </form>
    
    <h2>Список загруженных файлов:</h2>
    <ul>
        {% for file in files %}
        <li>
            <a href="{{ url_for('download_file', filename=file) }}">{{ file }}</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
